* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color:orange;
}
/* main section start here */
main{
    max-width: 1140px;
    margin: 0;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background:orange;
}
.btn-secondary{
    color:orangered;
    font-weight: 700;
    font-size: 20px;
    border:1px solid orangered;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background:rgb(241, 238, 232);
    margin-left:18px;
}

.header {
    background:white;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position:bottom right, left;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.info-title{
    font-weight: bold;
}
.info-description{
    font-size: 15px;
    margin-top: 5px;
    color: rgb(126, 109, 109);
}
.banner-title {
    font-weight: 500;
    font-size: 65px;
}

.banner-sub-title {
    font-weight: 400;
    font-size: 35px;
    margin-bottom:12px;
}

.banner-description {
    color:gray;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 15px;
}
.imag-edit{
    height: auto;
    width:450px;
}
/* about section style start here */
.about-me{
    height: 350px;
    margin-top: 90px;
    margin-bottom: 70px;
    margin-left:150px;
    border-radius: 3px;
    padding: 25px;
    
    align-items: center;
    background-color: burlywood;

}

.section-title{
    text-align: center;
    margin-top: 35px;
    margin-left: 35px;
}
.section-description{
    margin-left: 120px;
    margin-right: 45px;
    margin-top: 45px;
}
.about-info-container{
    display: flex;
    text-align: center;
    margin-left:190px;
    margin-top: 45px;
    margin-bottom: 45px;
}
.section-description{
    font-size: 15px;
}
.about-info{
    margin-left: 65px;
}
/* about section style ends here */


/* what i do section start here */
.skills-container{
    display: flex;
    gap: 10px;
}
.section-title{
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.skill-title{
    margin-top: 10px;
    font-weight: bold;

}
.skill-description{
    margin-top: 10px;
    font-size: 12px;
}
.skill{
    background-color:#FFFFFF;
    padding: 30px;
    margin: 15px;
    border-radius: 5px;
    box-shadow:  0px 6px 50px rgba(0, 0, 0, 0.2);
}
.what-i-do{
    margin-left: 175px;
}
/* what i do section end here */

/* resume section start here */
.resume-content{
    display: flex;
}
.section-titler{
    font-weight: bold;
    text-align: center;
    margin-left: 195px;
    margin-top: 30px;
}
.resume-title{
    padding: 25px;
    margin: 10px;
}
.resume-content{
    
    margin-left: 225px;
    margin-top: 25px;
}
.title{
padding: 10px;
}
.sub-title{
padding: 10px;
color: gray;
}
.description{
padding: 10px;
font-size: 15px;
}
.resume-item{
    margin: 25px;
}
.resume-button{
    margin-left: 560px;
    margin-top: 20px;
    margin-bottom: 50px;
}
hr{
    width:300px;
    margin-left: 35px;
}
/* resume section ends here */


/* contact section start here */
.contact{
    margin-top: 45px;
    display: flex;
}

.section-description{
font-size: 15px;
}
.a-edit{
margin-left: 110px;
margin-top: 5px;
padding: 15px;
}
.section-tool{
    padding:5px;
    margin-right: 15px;
}
.cont-form{
    padding-bottom: 75px;
}
/* contact section ends here */